<div class="row">
	<ol class="breadcrumb">
		<li><a href="<{url c='admin/category' a='index'}>">分类管理</a></li>
		<li class="active">列表</li>
	</ol>
</div>
<div class="row">
	<p class="text-right"><a href="<{url c='admin/category' a='add'}>">增加新分类</a></p>
	<div class="col-md-12">
		<table class="table">
			<tr>
				<th>#</th>
				<th>分类标题</th>
				<th>文章数量</th>
				<th>操作</th>
			</tr>
			<{if $categorys}>
				<{foreach $categorys as $cat}>
				<tr>
					<td><{$cat.category_id}></td>
					<td><a href="<{url c='main' a='list' category_id=$cat.category_id}>" target="_blank"><{$cat.category_name}></a></td>
					<td><{$cat.articles}></td>
					<td><a href="<{url c='admin/category' a='edit' category_id=$cat.category_id}>">修改</a></td>
				</tr>
				<{/foreach}>
			<{else}>
				<tr>
					<td colspan="4">暂无分类</td>
				</tr>
			<{/if}>
		</table>
	</div>

</div>